	/*=======================================================

	// NAVIGATION

=========================================================*/
	
	hr {
		background-color: #9d1db2;
	}
	
	.affix {
		background: #9d1db2;
	}
	/*=======================================================

	// FOR 0 TO 767;

=========================================================*/
	
	@media screen and (max-width: 767px) {
		.navbar-custom {
			border: none;
			background-color: rgba(157, 29, 178, 0.9);
		}
		.navbar-collapse {
			background-color: rgba(157, 29, 178, 0.7);
		}
	}
	/*============================= End Navigation =============================*/
	/*=======================================================

	// HEADER SECTION

=========================================================*/
	
	.header .btn-default {
		background-color: #9d1db2;
		border: none;
		color: #fff;
	}
	
	.header .btn-default:hover,
	.header .btn-default:active,
	.header .btn-default:focus {
		color: #fff !important;
		background-color: #8e11a3 !important;
	}
	/*============================= End Header Section =============================*/
	/*=======================================================

	// SECOND SECTION

=========================================================*/
	
	.service:hover {
		border: 1px solid #9d1db2;
		box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.2);
	}
	
	.service:hover i {
		color: #9d1db2;
	}
	
	.service:hover h5 {
		color: #9d1db2;
	}
	
	.service a:hover,
	.service a:active,
	.service a:focus {
		color: #9d1db2;
	}
	/*============================= End Second Section =============================*/
	/*=======================================================

	// Third SECTION

=========================================================*/
	
	.about .black-overlay .colored-overlay {
		background-color: rgba(157, 29, 178, 0.8) !important;
	}
	/*============================= End Third Section =============================*/
	/*=======================================================

	// Fourth SECTION

=========================================================*/
	
	.portfolio ul li:hover {
		cursor: pointer;
		color: #9d1db2;
	}
	
	.portfolio ul li.active {
		color: #9d1db2;
	}
	
	.hover-overlay {
		background-color: rgba(157, 29, 178, 0.7);
	}
	/*============================= End Fourth Section =============================*/
	/*=======================================================

	// Fifth SECTION

=========================================================*/
	
	.single-member-link {
		background-color: #9d1db2;
	}
	/*============================= End Fifth Section =============================*/
	/*=======================================================

	// Sixth SECTION

=========================================================*/
	
	.blog-btn .btn-default:hover,
	.blog-btn .btn-default:active,
	.blog-btn .btn-default:focus {
		background: #9d1db2;
		color: #fff;
		border: 1px solid #9d1db2;
	}
	/*============================= End Sixth Section =============================*/
	/*=======================================================

	// Seventh SECTION

=========================================================*/
	/*============================= End Seventh Section =============================*/
	/*=======================================================

	// Eighth SECTION

=========================================================*/
	
	.owl-theme .owl-nav [class*='owl-']:hover {
		color: #9d1db2;
	}
	
	.owl-theme .owl-dots .owl-dot span {
		border: 1px solid #9d1db2;
	}
	
	.owl-theme .owl-dots .owl-dot span:hover,
	.owl-theme .owl-dots .owl-dot.active span {
		background-color: #9d1db2;
	}
	/*============================= End Eighth Section =============================*/
	/*=======================================================

	// Ninth SECTION

=========================================================*/
	/*============================= End Ninth Section =============================*/
	/*=======================================================

	// Tenth SECTION

=========================================================*/
	
	.contact-form-overlay {
		background-color: rgba(157, 29, 178, 0.7);
	}
	
	.contact-form .form-control {
		border: 1px solid #9d1db2;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.contact-form.form-control:focus {
		border-color: #9d1db2;
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.contact-form .btn {
		color: #9d1db2;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.contact-form .btn-sbm:hover,
	.contact-form .btn-sbm:active,
	.contact-form .btn-sbm:focus,
	.contact-form .btn-sbm.active,
	.contact-form .btn-sbm.focus {
		color: #fff;
		background-color: #9d1db2;
		outline: none;
	}
	
	.contact-form .btn-sbm.active,
	.contact-form .btn-sbm.focus {
		color: #fff;
		background-color: #9d1db2;
	}
	/*=======================================================

	// Footer SECTION

=========================================================*/
	
	footer {
		background-color: #9d1db2;
	}
	/*=======================================================

	// Blog page

=========================================================*/
	
	.comment-form .btn-sbm {
		background-color: #9d1db2;
	}
	
	.comment-form .btn-sbm:hover,
	.comment-form .btn-sbm:active,
	.comment-form .btn-sbm:focus,
	.comment-form .btn-sbm.active,
	.comment-form .btn-sbm.focus {
		color: #fff;
		background-color: #8e11a3;
		outline: none;
	}
	
	.comment-form .btn-sbm.active,
	.comment-form .btn-sbm.focus {
		color: #fff;
		background-color: #8e11a3;
	}
	
	.blog-content aside ul li:first-child {
		background-color: #9d1db2;
	}
	
	.blog-content aside ul li:not(:first-child):hover {
		background-color: #9d1db2;
		cursor: pointer;
	}
	
	.blog-content aside button {
		background-color: #9d1db2;
	}
	
	.blog-content aside button:hover {
		background-color: #8e11a3;
	}
