/*=======================================================

	// Style for minimum width: 768px to maximum width 991px

=========================================================*/

@media (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 90%;
	}
	.intro-video {
		margin-top: 200px;
	}
	.testimonial-slider .owl-carousel .item .review {
		-moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
	}
	.single-blog-header h1 {
		padding-right: 20%;
	}
}


/*=======================================================

	// Style for minimum width: 0px to maximum width 767px

=========================================================*/

@media (max-width: 767px) {
	html {
		font-size: 85%;
	}
	.btn-default {
		padding: 10px 30px;
	}
	.mobile-center {
		text-align: center;
	}
	.navbar-custom {
		padding-top: 20px;
		padding-bottom: 15px;
	}
	.navbar-custom .navbar-nav {
		text-align: center;
		margin-right: 0;
	}
	.navbar-custom .navbar-brand {
		margin-top: -10px;
	}
	.navbar-custom .navbar-nav li a {
		margin-bottom: 15px;
		margin-right: 0;
	}
	.navbar-custom .navbar-collapse {
		margin-top: 15px;
	}
	.navbar-custom .navbar-nav li a:hover,
	.navbar-custom .navbar-nav li a:focus,
	.navbar-custom .navbar-nav li a:active {
		color: rgba(255, 255, 255, 0.8);
	}
	.navbar-custom .navbar-nav>.active>a {
		color: rgba(255, 255, 255, 0.8);
	}
	.header h1 {
		padding-right: 0px;
	}
	.single-details .point-no {
		float: none;
		margin-right: 0;
	}
	.about .colored-overlay {
		padding-right: 0;
		padding-left: 0;
	}
	.about .section-heading p:after {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.intro-video {
		margin-top: 250px;
	}
	.intro-video .video-bg-image-overlay {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.intro-video .video-bg-image {
		margin-top: -30%;
	}
	.blog .single-blog .blog-post {
		border: none;
	}
	.testimonial-slider .owl-carousel .item .review {
		padding-top: 20%;
	}
	.contact-form-overlay {
		padding: 10%;
	}
	.single-blog-header h1 {
		padding-right: 0;
	}
	.single-blog-header h1:before {
		width: 200px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	aside {
		margin-top: 100px;
	}
	.blog-content aside input[type=text] {
		width: 100%;
		margin-bottom: 20px;
	}
}


/*=======================================================

	// Style for minimum width: 768px

=========================================================*/

@media (min-width: 768px) {
	.padding {
		padding: 0 20%;
	}
	.navbar-custom .navbar-nav li a:before {
		content: "";
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.8);
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s linear 0s;
	}
	.navbar-custom .navbar-nav a:hover:before {
		visibility: visible;
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	.navbar-custom .navbar-nav>.active>a:before {
		visibility: visible;
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	.affix.navbar-custom {
		padding-top: 20px;
		padding-bottom: 20px;
		-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	}
}


/*=======================================================

	// Style for minimum width: 991px

=========================================================*/

@media (min-width: 991px) {
	.padding {
		padding: 0 25%;
	}
	.contact-form {
		padding-left: 0 !important;
	}
}


/*=======================================================

	// Style for maximum width 480px

=========================================================*/

@media (max-width: 480px) {
	html {
		font-size: 70%;
		line-height: 95%;
	}
	.intro-video {
		margin-top: 100px;
	}
	.testimonial-slider .owl-carousel .item .review {
		padding-top: 18%;
		margin-top: -40px;
	}
}
